In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ball_by_ball = pd.read_csv('/content/drive/MyDrive/IPL/IPL_Ball_by_Ball_2008_2022.csv')
matches = pd.read_csv('/content/drive/MyDrive/IPL/IPL_Matches_2008_2022.csv')

In [ ]:
matches.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [ ]:
ball_by_ball.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

In [ ]:
matches.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [ ]:
ball_by_ball = ball_by_ball.merge(matches[['ID','Team1','Team2']],left_on = 'ID',right_on = 'ID')

In [ ]:
ball_by_ball

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Team1,Team2
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders

In [ ]:
def results(row) :
  return row['Team2'] if row['Team1'] == row['BattingTeam'] else row['Team1'] ;

In [ ]:
ball_by_ball['BallingTeam'] = ball_by_ball.apply(results,axis=1)

In [ ]:
ball_by_ball

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Team1,Team2,BallingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Rajasthan Royals,Gujarat Titans,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders

In [ ]:
matches.shape

(950, 20)

In [ ]:
ball_by_ball.shape

(225954, 20)

In [ ]:
total_score_df =ball_by_ball.groupby(['ID','innings']).sum()['total_run'].reset_index()

<ipython-input-13-9b97e6b17dbc>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_score_df =ball_by_ball.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [ ]:
total_score_df = total_score_df[total_score_df['innings']== 1]

In [ ]:
total_score_df

           ID  innings  total_run
0      335982        1        222
2      335983        1        240
4      335984        1        129
6      335985        1        165
8      335986        1        110
...       ...      ...        ...
1918  1304116        1        157
1920  1312197        1        188
1922  1312198        1        207
1924  1312199        1        157
1926  1312200        1        130

[950 rows x 3 columns]

In [ ]:
matches_df = matches.merge(total_score_df[['ID','total_run']],left_on = 'ID',right_on = 'ID')

In [ ]:
matches_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,...,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,110
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,165
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,129
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,240
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,222

In [ ]:
matches_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [ ]:
teams= [
    'Rajasthan Royals',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad',
    'Delhi Capitals',
    'Chennai Super Kings',
    'Gujarat Titans',
    'Lucknow Super Giants',
    'Kolkata Knight Riders',
    'Punjab Kings',
    'Mumbai Indians'
]

In [ ]:
matches_df['Team1'] = matches_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
matches_df['Team2'] = matches_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')

matches_df['Team1'] = matches_df['Team1'].str.replace('Kings XI Punjab','Punjab Kings')
matches_df['Team2'] = matches_df['Team2'].str.replace( 'Kings XI Punjab','Punjab Kings')

matches_df['Team1'] = matches_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches_df['Team2'] = matches_df['Team2'].str.replace( 'Deccan Chargers', 'Sunrisers Hyderabad')

In [ ]:
matches_df = matches_df[matches_df['Team1'].isin(teams)]
matches_df = matches_df[matches_df['Team2'].isin(teams)]

In [ ]:

matches_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Sunrisers Hyderabad,Eden Gardens,Deccan Chargers,bat,...,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,110
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,165
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Capitals,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,129
948,335983,Chandigarh,2008-04-19,2007/08,2,Punjab Kings,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,240
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,222

In [ ]:
matches_df.shape

(835, 21)

In [ ]:
matches_df['method'].value_counts()

D/L    15
Name: method, dtype: int64

In [ ]:
matches_df= matches_df[matches_df['method'].isnull()]

In [ ]:
matches_df['method'].value_counts()

Series([], Name: method, dtype: int64)

In [ ]:
matches_df.shape

(820, 21)

In [ ]:
matches_df = matches_df[['ID','City','WinningTeam','total_run']]

In [ ]:
matches_df.isnull().sum()

ID              0
City           51
WinningTeam     3
total_run       0
dtype: int64

In [ ]:
ball_by_ball_df = matches_df.merge(ball_by_ball,on = 'ID')

In [ ]:
ball_by_ball_df =ball_by_ball_df[ball_by_ball_df['innings']==2]

In [ ]:
ball_by_ball_df

,ID,City,WinningTeam,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,...,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Team1,Team2,BallingTeam
120,1312200,Ahmedabad,Gujarat Titans,130,2,0,1,WP Saha,TA Boult,Shubman Gill,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
121,1312200,Ahmedabad,Gujarat Titans,130,2,0,2,WP Saha,TA Boult,Shubman Gill,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
122,1312200,Ahmedabad,Gujarat Titans,130,2,0,3,WP Saha,TA Boult,Shubman Gill,...,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
123,1312200,Ahmedabad,Gujarat Titans,130,2,0,4,Shubman Gill,TA Boult,WP Saha,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
124,1312200,Ahmedabad,Gujarat Titans,130,2,0,5,Shubman Gill,TA Boult,WP Saha,...,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196449,335982,Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,I Sharma,SB Joshi,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
196450,335982,Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,I Sharma,P Kumar,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
196451,335982,Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,I Sharma,SB Joshi,...,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
196452,335982,Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,LR Shukla,P Kumar,...,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders
196453,335982,Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,LR Shukla,P Kumar,...,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders

In [ ]:
ball_by_ball_df['current_score']= ball_by_ball_df.groupby('ID').cumsum()['total_run_y']

<ipython-input-33-5f14094a221b>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ball_by_ball_df['current_score']= ball_by_ball_df.groupby('ID').cumsum()['total_run_y']
<ipython-input-33-5f14094a221b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ball_by_ball_df['current_score']= ball_by_ball_df.groupby('ID').cumsum()['total_run_y']

In [ ]:
ball_by_ball_df

,ID,City,WinningTeam,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,...,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Team1,Team2,BallingTeam,current_score
120,1312200,Ahmedabad,Gujarat Titans,130,2,0,1,WP Saha,TA Boult,Shubman Gill,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0
121,1312200,Ahmedabad,Gujarat Titans,130,2,0,2,WP Saha,TA Boult,Shubman Gill,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0
122,1312200,Ahmedabad,Gujarat Titans,130,2,0,3,WP Saha,TA Boult,Shubman Gill,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1
123,1312200,Ahmedabad,Gujarat Titans,130,2,0,4,Shubman Gill,TA Boult,WP Saha,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1
124,1312200,Ahmedabad,Gujarat Titans,130,2,0,5,Shubman Gill,TA Boult,WP Saha,...,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196449,335982,Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,I Sharma,SB Joshi,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,80
196450,335982,Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,I Sharma,P Kumar,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81
196451,335982,Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,I Sharma,SB Joshi,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81
196452,335982,Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,LR Shukla,P Kumar,...,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82
196453,335982,Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,LR Shukla,P Kumar,...,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82

In [ ]:
ball_by_ball_df['runs_left'] = ball_by_ball_df['total_run_x'] - ball_by_ball_df['current_score'] + 1

In [ ]:
ball_by_ball_df

,ID,City,WinningTeam,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,...,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,Team1,Team2,BallingTeam,current_score,runs_left
120,1312200,Ahmedabad,Gujarat Titans,130,2,0,1,WP Saha,TA Boult,Shubman Gill,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131
121,1312200,Ahmedabad,Gujarat Titans,130,2,0,2,WP Saha,TA Boult,Shubman Gill,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131
122,1312200,Ahmedabad,Gujarat Titans,130,2,0,3,WP Saha,TA Boult,Shubman Gill,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130
123,1312200,Ahmedabad,Gujarat Titans,130,2,0,4,Shubman Gill,TA Boult,WP Saha,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130
124,1312200,Ahmedabad,Gujarat Titans,130,2,0,5,Shubman Gill,TA Boult,WP Saha,...,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196449,335982,Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,I Sharma,SB Joshi,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,80,143
196450,335982,Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,I Sharma,P Kumar,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142
196451,335982,Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,I Sharma,SB Joshi,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142
196452,335982,Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,LR Shukla,P Kumar,...,0,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141
196453,335982,Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,LR Shukla,P Kumar,...,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141

In [ ]:
ball_by_ball_df['balls_left'] = 120 - (ball_by_ball_df['overs']*6 + ball_by_ball_df['ballnumber'])

In [ ]:
ball_by_ball_df

,ID,City,WinningTeam,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,...,player_out,kind,fielders_involved,BattingTeam,Team1,Team2,BallingTeam,current_score,runs_left,balls_left
120,1312200,Ahmedabad,Gujarat Titans,130,2,0,1,WP Saha,TA Boult,Shubman Gill,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131,119
121,1312200,Ahmedabad,Gujarat Titans,130,2,0,2,WP Saha,TA Boult,Shubman Gill,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131,118
122,1312200,Ahmedabad,Gujarat Titans,130,2,0,3,WP Saha,TA Boult,Shubman Gill,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,117
123,1312200,Ahmedabad,Gujarat Titans,130,2,0,4,Shubman Gill,TA Boult,WP Saha,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,116
124,1312200,Ahmedabad,Gujarat Titans,130,2,0,5,Shubman Gill,TA Boult,WP Saha,...,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196449,335982,Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,I Sharma,SB Joshi,...,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,80,143,31
196450,335982,Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,I Sharma,P Kumar,...,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142,30
196451,335982,Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,I Sharma,SB Joshi,...,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142,29
196452,335982,Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,LR Shukla,P Kumar,...,NaN,NaN,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141,29
196453,335982,Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,LR Shukla,P Kumar,...,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141,28

In [ ]:
ball_by_ball_df['wickets_left']= 10 - ball_by_ball_df.groupby('ID').cumsum()['isWicketDelivery']

<ipython-input-39-a2fb30c024f3>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ball_by_ball_df['wickets_left']= 10 - ball_by_ball_df.groupby('ID').cumsum()['isWicketDelivery']

In [ ]:
ball_by_ball_df.iloc[[27]]

,ID,City,WinningTeam,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,...,kind,fielders_involved,BattingTeam,Team1,Team2,BallingTeam,current_score,runs_left,balls_left,wickets_left
147,1312200,Ahmedabad,Gujarat Titans,130,2,4,3,MS Wade,TA Boult,Shubman Gill,...,caught,R Parag,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,23,108,93,8

In [ ]:
ball_by_ball_df['crr'] = (ball_by_ball_df['current_score']*6)/(120 - ball_by_ball_df['balls_left'] )

In [ ]:

ball_by_ball_df

,ID,City,WinningTeam,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,...,fielders_involved,BattingTeam,Team1,Team2,BallingTeam,current_score,runs_left,balls_left,wickets_left,crr
120,1312200,Ahmedabad,Gujarat Titans,130,2,0,1,WP Saha,TA Boult,Shubman Gill,...,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131,119,10,0.000000
121,1312200,Ahmedabad,Gujarat Titans,130,2,0,2,WP Saha,TA Boult,Shubman Gill,...,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131,118,10,0.000000
122,1312200,Ahmedabad,Gujarat Titans,130,2,0,3,WP Saha,TA Boult,Shubman Gill,...,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,117,10,2.000000
123,1312200,Ahmedabad,Gujarat Titans,130,2,0,4,Shubman Gill,TA Boult,WP Saha,...,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,116,10,1.500000
124,1312200,Ahmedabad,Gujarat Titans,130,2,0,5,Shubman Gill,TA Boult,WP Saha,...,NaN,Gujarat Titans,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,115,10,1.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196449,335982,Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,I Sharma,SB Joshi,...,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,80,143,31,1,5.393258
196450,335982,Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,I Sharma,P Kumar,...,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142,30,1,5.400000
196451,335982,Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,I Sharma,SB Joshi,...,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142,29,1,5.340659
196452,335982,Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,LR Shukla,P Kumar,...,NaN,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141,29,1,5.406593
196453,335982,Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,LR Shukla,P Kumar,...,BB McCullum,Royal Challengers Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141,28,0,5.347826

In [ ]:
ball_by_ball_df['rrr'] = (ball_by_ball_df['runs_left']*6)/ball_by_ball_df['balls_left']

In [ ]:
def results(row) :
  return 1 if row['WinningTeam'] == row['BattingTeam'] else 0 ;

In [ ]:
ball_by_ball_df['results']=ball_by_ball_df.apply(results,axis=1)

In [ ]:
ball_by_ball_df

,ID,City,WinningTeam,total_run_x,innings,overs,ballnumber,batter,bowler,non-striker,...,Team1,Team2,BallingTeam,current_score,runs_left,balls_left,wickets_left,crr,rrr,results
120,1312200,Ahmedabad,Gujarat Titans,130,2,0,1,WP Saha,TA Boult,Shubman Gill,...,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131,119,10,0.000000,6.605042,1
121,1312200,Ahmedabad,Gujarat Titans,130,2,0,2,WP Saha,TA Boult,Shubman Gill,...,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,0,131,118,10,0.000000,6.661017,1
122,1312200,Ahmedabad,Gujarat Titans,130,2,0,3,WP Saha,TA Boult,Shubman Gill,...,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,117,10,2.000000,6.666667,1
123,1312200,Ahmedabad,Gujarat Titans,130,2,0,4,Shubman Gill,TA Boult,WP Saha,...,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,116,10,1.500000,6.724138,1
124,1312200,Ahmedabad,Gujarat Titans,130,2,0,5,Shubman Gill,TA Boult,WP Saha,...,Rajasthan Royals,Gujarat Titans,Rajasthan Royals,1,130,115,10,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196449,335982,Bangalore,Kolkata Knight Riders,222,2,14,5,P Kumar,I Sharma,SB Joshi,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,80,143,31,1,5.393258,27.677419,0
196450,335982,Bangalore,Kolkata Knight Riders,222,2,14,6,SB Joshi,I Sharma,P Kumar,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142,30,1,5.400000,28.400000,0
196451,335982,Bangalore,Kolkata Knight Riders,222,2,14,7,P Kumar,I Sharma,SB Joshi,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,81,142,29,1,5.340659,29.379310,0
196452,335982,Bangalore,Kolkata Knight Riders,222,2,15,1,SB Joshi,LR Shukla,P Kumar,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141,29,1,5.406593,29.172414,0
196453,335982,Bangalore,Kolkata Knight Riders,222,2,15,2,SB Joshi,LR Shukla,P Kumar,...,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,82,141,28,0,5.347826,30.214286,0

In [ ]:
final_df = ball_by_ball_df[['BattingTeam','BallingTeam','City','runs_left','balls_left','wickets_left','crr','rrr','results']]

In [ ]:
final_df = final_df.sample(final_df.shape[0])

In [ ]:
final_df.sample(5)

,BattingTeam,BallingTeam,City,runs_left,balls_left,wickets_left,crr,rrr,results
37883,Rajasthan Royals,Chennai Super Kings,Abu Dhabi,122,117,10,8.000000,6.256410,1
63336,Chennai Super Kings,Delhi Daredevils,Delhi,118,81,10,6.923077,8.740741,0
196217,Kings XI Punjab,Chennai Super Kings,Chandigarh,49,11,6,10.568807,26.727273,0
68415,Delhi Daredevils,Chennai Super Kings,Pune,16,0,5,9.800000,inf,0
125104,Chennai Super Kings,Sunrisers Hyderabad,Chennai,95,75,9,8.666667,7.600000,1

In [ ]:
final_df.isnull().sum()

BattingTeam        0
BallingTeam        0
City            6012
runs_left          0
balls_left         0
wickets_left       0
crr                0
rrr               11
results            0
dtype: int64

In [ ]:
df1 = final_df.dropna()

In [ ]:
df1.isnull().sum()

BattingTeam     0
BallingTeam     0
City            0
runs_left       0
balls_left      0
wickets_left    0
crr             0
rrr             0
results         0
dtype: int64

In [ ]:
df1 = df1[df1['balls_left'] != 0]

In [ ]:
x = df1.iloc[:,:-1]
y = df1.iloc[:,-1]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [ ]:
is_infinite = np.isinf(df1['crr'])
has_infinite = is_infinite.any()
has_infinite

False

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','BallingTeam','City'])
]
,remainder='passthrough')

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline

In [ ]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [ ]:
pipe.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BallingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [ ]:
y_pred = pipe.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8150839247493522

In [ ]:
pipe.predict_proba(x_test)[10]

array([0.43326285, 0.56673715])

In [ ]:
def match_summary(row):
    print("Batting Team-" + row['BattingTeam'] + " | Bowling Team-" + row['BallingTeam'] + " | Target- " + str(row['total_runs_x']))

In [ ]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [ ]:
df1['City'].unique()

array(['Mumbai', 'Kolkata', 'Delhi', 'Port Elizabeth', 'Jaipur', 'Raipur',
       'Pune', 'Durban', 'East London', 'Centurion', 'Chandigarh',
       'Chennai', 'Hyderabad', 'Bangalore', 'Visakhapatnam',
       'Bloemfontein', 'Dharamsala', 'Navi Mumbai', 'Cape Town',
       'Johannesburg', 'Dubai', 'Abu Dhabi', 'Ranchi', 'Indore', 'Nagpur',
       'Cuttack', 'Bengaluru', 'Ahmedabad', 'Sharjah', 'Kimberley'],
      dtype=object)